# Creating the London and Merseyside CSVs

In [9]:

import os
import pandas as pd 
from pyproj import Transformer


import geopandas as gpd
from shapely.geometry import Point

# Load the data in

https://data.police.uk/data/

In [12]:
path = '../data/police_zips'    



# find all csv file paths
csv_names = []
for folder in os.listdir(path):
        
            folder_contents = os.listdir(f'{path}/{folder}')
            
            for file in folder_contents:
                
                    
                csv_names.append(f'{path}/{folder}/{file}')



print(f'There are {len(csv_names)} different CSVs')

There are 108 different CSVs

# Extract the CSV's

In [ ]:
# Initialise storage 
london_ss, london_crimes, london_outcomes = [], [], []
merseyside_ss, merseyside_crimes, merseyside_outcomes = [], [], []

# loop through the csvs
for csv in csv_names:
    
    if "stop-and-search.csv" in csv:
        if "city-of-london" in csv or "metropolitan" in csv:
            london_ss.append(pd.read_csv(csv))
        elif "merseyside" in csv:
            merseyside_ss.append(pd.read_csv(csv))

    elif "street.csv" in csv:
        if "city-of-london" in csv or "metropolitan" in csv:
            london_crimes.append(pd.read_csv(csv))
        elif "merseyside" in csv:
            merseyside_crimes.append(pd.read_csv(csv))

    elif "outcomes.csv" in csv:
        if "city-of-london" in csv or "metropolitan" in csv:
            london_outcomes.append(pd.read_csv(csv))
        elif "merseyside" in csv:
            merseyside_outcomes.append(pd.read_csv(csv))

# Convert lists to DataFrames
london_ss_df = pd.concat(london_ss, ignore_index=True)
london_crimes_df = pd.concat(london_crimes, ignore_index=True)
london_outcomes_df = pd.concat(london_outcomes, ignore_index=True)

merseyside_ss_df = pd.concat(merseyside_ss, ignore_index=True)
merseyside_crimes_df = pd.concat(merseyside_crimes, ignore_index=True)
merseyside_outcomes_df = pd.concat(merseyside_outcomes, ignore_index=True)

### Combine the crime and outcomes by 'CRIME ID'

In [ ]:
# merge London crimes with outcomes
london_crimes_with_outcomes = london_crimes_df.merge(london_outcomes_df[['Crime ID', 'Outcome type']], 
                                                     on='Crime ID', how='left')


# merge Merseyside crimes with outcomes
merseyside_crimes_with_outcomes = merseyside_crimes_df.merge(merseyside_outcomes_df[['Crime ID', 'Outcome type']]
                                                             , on='Crime ID', how='left')

### Convert to datetime

In [17]:
# Convert the date column to datetime format
london_crimes_with_outcomes['Date'] = pd.to_datetime(london_crimes_with_outcomes['Month'], format= '%Y-%m')
london_ss_df['Date'] = pd.to_datetime(london_ss_df['Date']).dt.tz_convert(None) # convert to datetime and remove timezone
london_ss_df.drop(columns=['Part of a policing operation', 'Policing operation'], inplace=True) # remove empty columns


merseyside_crimes_with_outcomes['Date'] = pd.to_datetime(merseyside_crimes_with_outcomes['Month'], format= '%Y-%m')
merseyside_ss_df['Date'] = pd.to_datetime(merseyside_ss_df['Date']).dt.tz_convert(None) # convert to datetime and remove timezone
merseyside_ss_df.drop(columns=['Part of a policing operation', 'Policing operation'], inplace=True) # remove empty columns

## House Prices

In [19]:
# Read the 5th sheet (index 4, since indexing starts from 0)
xls = pd.read_excel('../data/house_prices/LSOA_house_prices.xls', 
                    sheet_name=5, 
                    engine='xlrd')

headings = xls.iloc[4]
house_prices = xls.iloc[5:]

# headings
house_prices.columns = headings

house_prices = house_prices[['Local authority code','LSOA code', 
                             'Year ending Jun 2022', 'Year ending Sep 2022', 'Year ending Dec 2022']]


house_prices['mean_house_price'] = (
    house_prices.iloc[:, 2:]
    .apply(pd.to_numeric, errors='coerce')  # Convert non-numeric values to NaN
    .mean(axis=1)
    .round()
)

house_prices = house_prices[['LSOA code', 'mean_house_price']]
house_prices

4      LSOA code  mean_house_price
5      E01011949          100415.0
6      E01011950           55639.0
7      E01011951           71779.0
8      E01011952           77052.0
9      E01011953           95933.0
...          ...               ...
34753  W01001320          187601.0
34754  W01001321          128623.0
34755  W01001322          162018.0
34756  W01001324          179577.0
34757  W01001898          215486.0

[34753 rows x 2 columns]

## LSOA Populations

In [21]:
xlsx = pd.read_excel('../data/house_prices/LSOA_populations.xlsx', 
                     sheet_name=6,  # sheet index
                     engine='openpyxl')  # for .xlsx files

headings = xlsx.iloc[2]
LSOA_pop = xlsx.iloc[3:]

#headings
LSOA_pop.columns = headings
LSOA_pop = LSOA_pop[['LSOA 2021 Code', 'Total']]
LSOA_pop.columns = ['LSOA code', 'LSOA population']

LSOA_pop

       LSOA code LSOA population
3      E01011949            1854
4      E01011950            1037
5      E01011951            1203
6      E01011952            1610
7      E01011953            1970
...          ...             ...
35670  W01001324            1892
35671  W01001898            1448
35672  W01001959            1535
35673  W01001960            1458
35674  W01001961            2338

[35672 rows x 2 columns]

## Create Scores

In [ ]:
# merge the house prices and population data
stats_2022 = house_prices.merge(LSOA_pop, on='LSOA code', how='left')

# round the values
mean_pop = round(stats_2022['LSOA population'].mean())  
mean_house = round(stats_2022['mean_house_price'].mean())  

# convert to numeric
stats_2022['LSOA population'] = pd.to_numeric(stats_2022['LSOA population'], errors='coerce')
stats_2022['mean_house_price'] = pd.to_numeric(stats_2022['mean_house_price'], errors='coerce')

# fill NA's with the means
stats_2022['LSOA population'] = stats_2022['LSOA population'].fillna(mean_pop) 
stats_2022['mean_house_price'] = stats_2022['mean_house_price'].fillna(mean_house) 


# Check for remaining NaN values
print(stats_2022.isna().sum())

stats_2022

LSOA code           0
mean_house_price    0
LSOA population     0
dtype: int64

       LSOA code  mean_house_price  LSOA population
0      E01011949          100415.0           1854.0
1      E01011950           55639.0           1037.0
2      E01011951           71779.0           1203.0
3      E01011952           77052.0           1610.0
4      E01011953           95933.0           1970.0
...          ...               ...              ...
34748  W01001320          187601.0           1437.0
34749  W01001321          128623.0           1629.0
34750  W01001322          162018.0           1647.0
34751  W01001324          179577.0           1892.0
34752  W01001898          215486.0           1448.0

[34753 rows x 3 columns]

## Add crime rates to LSOA

In [28]:




merseyside_22 = merseyside_crimes_with_outcomes.merge(stats_2022, on='LSOA code', how='left')
london_22 = london_crimes_with_outcomes.merge(stats_2022, on='LSOA code', how='left')



merseyside_22 = merseyside_22[['Date', 'LSOA name', 'LSOA code', 'Crime type', 'mean_house_price', 'LSOA population','Last outcome category', 'Outcome type']]
london_22 = london_22[['Date', 'LSOA name', 'LSOA code', 'Crime type', 'mean_house_price', 'LSOA population','Last outcome category', 'Outcome type']]



merseyside_22['Drug crime rate'] = (merseyside_22['Crime type'] == 'Drugs').astype(int)
london_22['Drug crime rate'] = (london_22['Crime type'] == 'Drugs').astype(int)


merseyside_22['Violent crime rate'] = (merseyside_22['Crime type'] == 'Vehicle crime').astype(int)
london_22['Violent crime rate'] = (london_22['Crime type'] == 'Vehicle crime').astype(int)



prosecuted_outcomes = [
    'Suspect charged', 'Action to be taken by another organisation', 
    'Suspect charged as part of another case', 'Offender given penalty notice'
]



merseyside_22['Prosecution rate'] = merseyside_22['Last outcome category'].isin(prosecuted_outcomes).astype(int)
london_22['Prosecution rate'] = london_22['Last outcome category'].isin(prosecuted_outcomes).astype(int)


merseyside_22 = merseyside_22.groupby('LSOA code', as_index=False).agg({
    'LSOA population': 'first',
    'mean_house_price': 'first',
    'Crime type': 'count',
    'Drug crime rate': 'mean',
    'Violent crime rate': 'mean',
    'Prosecution rate': 'mean'})
london_22 = london_22.groupby('LSOA code', as_index=False).agg({
    'LSOA population': 'first',
    'mean_house_price': 'first',
    'Crime type': 'count',
    'Drug crime rate': 'mean',
    'Violent crime rate': 'mean',
    'Prosecution rate': 'mean'})







merseyside_22['Crime rate'] = merseyside_22['Crime type'] / merseyside_22['LSOA population']
london_22['Crime rate'] = london_22['Crime type'] / london_22['LSOA population']


merseyside_22 = merseyside_22.drop(columns={'Crime type'})
london_22 = london_22.drop(columns={'Crime type'})



merseyside_22[['Drug crime rate', 
    'Violent crime rate', 
    'Prosecution rate', 
    'Crime rate']] = round(merseyside_22[['Drug crime rate', 
                               'Violent crime rate', 
                               'Prosecution rate', 
                               'Crime rate']] *1000,2)
london_22[['Drug crime rate', 
    'Violent crime rate', 
    'Prosecution rate', 
    'Crime rate']] = round(london_22[['Drug crime rate', 
                               'Violent crime rate', 
                               'Prosecution rate', 
                               'Crime rate']] *1000,2)



display(london_22)
display(merseyside_22)

,LSOA code,LSOA population,mean_house_price,Drug crime rate,Violent crime rate,Prosecution rate,Crime rate
0,E01000001,1573.0,942221.0,55.78,131.47,11.95,159.57
1,E01000002,1407.0,1035931.0,30.73,13.97,0.00,254.44
2,E01000003,1610.0,605185.0,15.38,61.54,0.00,80.75
3,E01000005,1104.0,358847.0,66.67,48.98,5.44,665.76
4,E01000006,1829.0,277604.0,107.69,161.54,23.08,71.08
...,...,...,...,...,...,...,...
7872,W01001870,1420.0,226517.0,0.00,0.00,0.00,1.41
7873,W01001897,1854.0,363184.0,0.00,0.00,0.00,1.08
7874,W01001940,1049.0,178192.0,0.00,0.00,0.00,0.95
7875,W01001953,1495.0,298163.0,0.00,0.00,0.00,0.67
7876,W01001955,1935.0,87136.0,0.00,0.00,0.00,0.52

,LSOA code,LSOA population,mean_house_price,Drug crime rate,Violent crime rate,Prosecution rate,Crime rate
0,E01006225,1557.0,196182.0,500.00,0.00,0.0,1.28
1,E01006264,1237.0,239444.0,0.00,333.33,0.0,2.43
2,E01006346,2077.0,191080.0,0.00,0.00,0.0,0.48
3,E01006366,1823.0,231052.0,0.00,0.00,0.0,1.65
4,E01006368,1876.0,188987.0,250.00,0.00,0.0,2.13
...,...,...,...,...,...,...,...
965,E01034836,NaN,NaN,222.22,0.00,0.0,NaN
966,E01034837,NaN,NaN,200.00,0.00,0.0,NaN
967,E01034838,NaN,NaN,285.71,142.86,0.0,NaN
968,E01034839,NaN,NaN,181.82,0.00,0.0,NaN
969,E01034841,NaN,NaN,0.00,0.00,0.0,NaN

In [33]:
# stop_counts = london_ss_df['LSOA code'].value_counts().reset_index()
# stop_counts.columns = ['LSOA21CD', 'stop_counts']  # Rename columns for clarity

# # Step 2: Merge with population data
# lsoas_population = london[['LSOA code', 'LSOA population']].rename(columns={'LSOA code': 'LSOA21CD'})
# merged_lsoas = pd.merge(stop_counts, lsoas_population, on='LSOA21CD', how='left')

# # Step 3: Calculate stops per area (stops per population)
# merged_lsoas['stops_per_area'] = merged_lsoas['stop_counts'] / merged_lsoas['LSOA population'] * 100

# merged_lsoas
# london_ss_df

# Adding LSOA to Stop and Search

In [34]:
LSOA_df = pd.read_csv('../data/mapping_csvs/LSOA_to_coords.csv')
LSOA_df

,FID,LSOA01CD,LSOA01NM,GlobalID,x,y
0,1,E01000001,City of London 001A,3f778391-d557-47f0-91ab-257ee265c5c6,532182,181785
1,2,E01000002,City of London 001B,1cdc7e6c-a108-4410-80d5-dc6623582676,532434,181810
2,3,E01000003,City of London 001C,95f673aa-8bc2-447d-88e6-f15d77bd5492,532199,182064
3,4,E01000004,City of London 001D,408281cc-db8a-44c3-a611-d7497ef3545e,532107,181183
4,5,E01000005,City of London 001E,03ed3f20-2f4d-4870-bb54-5bd372c80e68,533678,181182
...,...,...,...,...,...,...
34373,34374,W01001892,Cardiff 020D,5b54ed80-cdb0-445f-9f1c-b389ed8b046b,316112,179404
34374,34375,W01001893,Cardiff 010B,b6beb227-3850-4ac1-a5c0-c0cabf9d236d,313519,182234
34375,34376,W01001894,Cardiff 010C,468e8bc5-d07d-4ecf-9c59-3b5f96abec6c,314661,181119
34376,34377,W01001895,Cardiff 010D,37741ec6-5ed5-4526-b5a3-8235720d3903,314674,180614
34377,34378,W01001896,Cardiff 020E,6372bb13-e8c2-4806-b1aa-2a3cb0aa4766,315293,180521

### Convert Ordnance Survey National Grid to longitude/latitude

In [35]:
# import numpy as np
from pyproj import Transformer

# Define transformer from OSGB36 (EPSG:27700) to WGS84 (EPSG:4326)
transformer = Transformer.from_crs("EPSG:27700", "EPSG:4326", always_xy=True)

def convert_uk_coords(eastings, northings):
    """Vectorised function to convert Eastings/Northings to Longitude/Latitude."""
    longitudes, latitudes = transformer.transform(eastings, northings)
    return longitudes, latitudes


df = pd.DataFrame()

# Example DataFrame
LSOA_df['Longitude'], LSOA_df['Latitude'] = convert_uk_coords(LSOA_df['x'], LSOA_df['y'])


LSOA_df = LSOA_df[['LSOA01CD', 'Longitude', 'Latitude']]
LSOA_df

        LSOA01CD  Longitude   Latitude
0      E01000001  -0.096266  51.519526
1      E01000002  -0.092626  51.519692
2      E01000003  -0.095916  51.522029
3      E01000004  -0.097571  51.514134
4      E01000005  -0.074945  51.513756
...          ...        ...        ...
34373  W01001892  -3.210109  51.507316
34374  W01001893  -3.248157  51.532365
34375  W01001894  -3.231427  51.522516
34376  W01001895  -3.231117  51.517978
34377  W01001896  -3.222176  51.517235

[34378 rows x 3 columns]

here is the issue

# Assign each Coordinate in Stop and search data to LSOA

using geopandas

In [36]:


# Convert Merseyside crime DataFrame to GeoDataFrame
gdf_ss_m = gpd.GeoDataFrame(merseyside_ss_df, 
                              geometry=gpd.points_from_xy(merseyside_ss_df['Longitude'], 
                                                          merseyside_ss_df['Latitude']),
                              crs="EPSG:4326")  # WGS84 (standard lat/lon)
# Convert London crime DataFrame to GeoDataFrame
gdf_ss_l = gpd.GeoDataFrame(london_ss_df, 
                              geometry=gpd.points_from_xy(london_ss_df['Longitude'], 
                                                          london_ss_df['Latitude']),
                              crs="EPSG:4326")  # WGS84 (standard lat/lon)



# Convert LSOA centroids DataFrame to GeoDataFrame
gdf_lsoa = gpd.GeoDataFrame(LSOA_df, 
                            geometry=gpd.points_from_xy(LSOA_df['Longitude'], 
                                                        LSOA_df['Latitude']),
                            crs="EPSG:4326")


# Perform spatial join to associate each crime with its nearest LSOA
merged_df_m = gpd.sjoin_nearest(gdf_ss_m, gdf_lsoa, how="left")
merged_df_l = gpd.sjoin_nearest(gdf_ss_l, gdf_lsoa, how="left")



# Drop unnecessary columns and check results
merged_df_m = merged_df_m.drop(columns=['geometry', 'Longitude_right', 'Latitude_right'])  # Remove unnecessary columns if not needed
merged_df_l = merged_df_l.drop(columns=['geometry', 'Longitude_right', 'Latitude_right'])  # Remove unnecessary columns if not needed


merged_df_m = merged_df_m.rename(columns={'LSOA01CD': 'LSOA code',
                                      'Latitude_left': 'Latitude',
                                      'Longitude_left': 'Longitude'})
merged_df_l = merged_df_l.rename(columns={'LSOA01CD': 'LSOA code',
                                      'Latitude_left': 'Latitude',
                                      'Longitude_left': 'Longitude'})



# merge the stats
merged_df_m.merge(merseyside_22,on='LSOA code')
merged_df_l.merge(london_22,on='LSOA code')



display(merged_df_m)
display(merged_df_l)

C:\Users\15kof\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\geopandas\array.py:403: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(
C:\Users\15kof\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\geopandas\array.py:403: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

,Type,Date,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,index_right,LSOA code
0,Person search,2022-01-01 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,NaN,NaN
1,Person search,2022-01-01 00:07:45,NaN,NaN,NaN,NaN,NaN,NaN,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,NaN,NaN
2,Person search,2022-01-01 00:12:22,53.406618,-2.983878,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,6649.0,E01006650
3,Person search,2022-01-01 00:17:54,NaN,NaN,NaN,NaN,NaN,NaN,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,NaN,NaN
4,Person search,2022-01-01 00:22:40,53.403914,-2.981499,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,False,True,6510.0,E01006511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53342,Person search,2022-12-31 23:50:36,53.466101,-2.921443,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,False,6657.0,E01006658
53343,Person and Vehicle search,2022-12-31 23:55:04,53.463911,-2.976511,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,7050.0,E01007051
53344,Person search,2022-12-31 23:55:52,53.466101,-2.921443,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,False,6657.0,E01006658
53345,Person search,2022-12-31 23:56:03,53.388654,-3.035339,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False,7128.0,E01007129
53346,Person search,2022-12-31 23:58:32,53.414044,-2.915969,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,True,False,6713.0,E01006714

,Type,Date,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,index_right,LSOA code
0,Person search,2022-01-01 01:14:23,51.506255,-0.074901,Male,10-17,Other ethnic group - Not stated,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,0.0,0.0,4024.0,E01004025
1,Person search,2022-01-01 01:20:32,51.506255,-0.074901,Male,10-17,Other ethnic group - Not stated,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,0.0,0.0,4024.0,E01004025
2,Person search,2022-01-01 01:28:56,51.506255,-0.074901,Male,10-17,Asian/Asian British - Bangladeshi,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,0.0,0.0,4024.0,E01004025
3,Person search,2022-01-01 01:48:59,51.508066,-0.087780,Male,NaN,NaN,NaN,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,0.0,0.0,3980.0,E01003981
4,Person search,2022-01-01 02:49:39,51.517680,-0.078484,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,0.0,0.0,4306.0,E01004307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182559,Person and Vehicle search,2022-12-17 21:35:00,51.631560,-0.195095,Male,25-34,Asian/Asian British - Any other Asian background,Asian,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN,278.0,E01000279
182560,Person search,2022-12-17 21:57:00,NaN,NaN,Male,25-34,Other ethnic group - Not stated,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Community resolution,NaN,NaN,NaN,NaN
182561,Person search,2022-12-17 22:00:00,51.514365,-0.143408,Female,over 34,White - Any other White background,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,A no further action disposal,NaN,NaN,4764.0,E01004765
182562,Person search,2022-12-17 22:16:00,NaN,NaN,Male,10-17,Black/African/Caribbean/Black British - Caribbean,Black,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,A no further action disposal,NaN,NaN,NaN,NaN
182563,Person search,2022-12-17 23:40:00,51.460388,-0.057168,Male,over 34,Other ethnic group - Not stated,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN,4019.0,E01004020

### Combine LSOA stats with stop and search

In [ ]:
merseyside_df = merged_df_m.merge(merseyside_22, on='LSOA code' )
london_df = merged_df_l.merge(london_22, on='LSOA code' )


merseyside_df = merseyside_df[['Date', 'LSOA code', 'Latitude', 'Longitude', 'Type', 'Gender', 'Age range', 
               'Self-defined ethnicity', 'Officer-defined ethnicity', 
               'Legislation', 'Object of search', 'Outcome' , 'LSOA population',
               'mean_house_price', 'Drug crime rate', 'Violent crime rate',
               'Prosecution rate', 'Crime rate']]
london_df = london_df[['Date', 'LSOA code', 'Latitude', 'Longitude', 'Type', 'Gender', 'Age range', 
               'Self-defined ethnicity', 'Officer-defined ethnicity', 
               'Legislation', 'Object of search', 'Outcome' , 'LSOA population',
               'mean_house_price', 'Drug crime rate', 'Violent crime rate',
               'Prosecution rate', 'Crime rate']]

display(london_df)
display(merseyside_df)

# Adding distance to station

https://github.com/davwheat/uk-railway-stations/blob/main/stations.csv

In [ ]:

stations_df = pd.read_csv('https://raw.githubusercontent.com/davwheat/uk-railway-stations/refs/heads/main/stations.csv')

stations_df.columns = ['Name', 'Latitude', 'Longitude', 'code#1', 'code#2']
stations_df = stations_df[['Longitude', 'Latitude']]

stations_df

## Mapping the nearest station to the stop

In [ ]:
# Step 1: Convert Merseyside points to a GeoDataFrame
merseyside_map = gpd.GeoDataFrame(merseyside_df, 
                        geometry=gpd.points_from_xy(merseyside_df['Longitude'], 
                                                    merseyside_df['Latitude']),
                        crs="EPSG:4326")  # WGS84 (lat/lon)
london_map = gpd.GeoDataFrame(london_df, 
                        geometry=gpd.points_from_xy(london_df['Longitude'], 
                                                    london_df['Latitude']),
                        crs="EPSG:4326")  # WGS84 (lat/lon)


# Step 2: Convert Stations points to a GeoDataFrame
map_to_station = gpd.GeoDataFrame(stations_df, 
                        geometry=gpd.points_from_xy(stations_df['Longitude'], 
                                                    stations_df['Latitude']),
                        crs="EPSG:4326")  # WGS84 (lat/lon)

# Step 3: Reproject to British National Grid (EPSG:27700) for accurate distance measurements
merseyside_map = merseyside_map.to_crs("EPSG:27700")
london_map = london_map.to_crs("EPSG:27700")
map_to_station = map_to_station.to_crs("EPSG:27700")

# Step 4: Perform spatial join to map nearest train station to each Merseyside point
merseyside_results = gpd.sjoin_nearest(merseyside_map, map_to_station, how="left", distance_col="distance", lsuffix='_merseyside', rsuffix='_station')

london_results = gpd.sjoin_nearest(london_map, map_to_station, how="left", distance_col="distance", lsuffix='_london', rsuffix='_station')


# Step 5: Extract the list of distances
m_distances_list = merseyside_results['distance']
l_distances_list = london_results['distance']

In [ ]:
merseyside_df['Distance to station'] = m_distances_list
london_df['Distance to station'] = l_distances_list

display(london_df)
display(merseyside_df)

# Save to CSV

In [ ]:
london_df.to_csv('../data/london2022.csv')
merseyside_df.to_csv('../data/merseyside2022.csv')