## Trainline GitHub Dataset
Locating the locations of all the train stations in the UK

https://github.com/trainline-eu

In [14]:
import pandas as pd

In [ ]:
stations = pd.read_csv('https://raw.githubusercontent.com/trainline-eu/stations/refs/heads/master/stations.csv', 
                       sep=';')


stations = stations[stations['country'] == 'GB']
stations_df = stations[['latitude', 'longitude']].reset_index(drop=True)



stations

C:\Users\15kof\AppData\Local\Temp\ipykernel_21944\3708986103.py:1: DtypeWarning: Columns (16,17,19,23,25,31,35,39,40,42,46,48,50,56,57,59,60,61,62,63,64,65,68,69,71,72,75) have mixed types. Specify dtype option on import or set low_memory=False.
  stations = pd.read_csv('https://raw.githubusercontent.com/trainline-eu/stations/refs/heads/master/stations.csv',

       latitude  longitude
0     51.531921  -0.126361
1     50.907742  -1.413983
2     53.405250  -2.977841
3     53.605507  -0.267936
4     53.574219  -0.409679
...         ...        ...
2783  52.191230  -2.222310
2784  53.046000  -2.993000
2785  50.945200  -2.637000
2786  51.128079   1.315000
2787  52.040622  -0.759417

[2788 rows x 2 columns]